<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Departmentmanager</servlet-name>
        <servlet-class>controller.Departmentmanager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeController</servlet-name>
        <servlet-class>controller.employee.EmployeeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDepartmentController</servlet-name>
        <servlet-class>controller.EditDepartmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDepartmentController</servlet-name>
        <servlet-class>controller.DeleteDepartmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDepartmentController</servlet-name>
        <servlet-class>controller.AddDepartmentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Departmentmanager</servlet-name>
        <url-pattern>/Departmentmanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeController</servlet-name>
        <url-pattern>/employee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDepartmentController</servlet-name>
        <url-pattern>/EditDepartmentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDepartmentController</servlet-name>
        <url-pattern>/DeleteDepartmentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDepartmentController</servlet-name>
        <url-pattern>/AddDepartmentController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
